# Temporary data and backup files
*~
*.swp
*.bak
*.pyc

# Python virtual environments
venv/
env/
ENV/

# Ignore IDE and editor configuration files
.idea/
.vscode/

# Ignore build files and temporary files
__pycache__/
.DS_Store
node_modules/

.vs/
*.sqlite
*.user
*.suo
.vscode/
.vs/
*.vsidx
